<script src="{{ '/../js/main.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/../js/map.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/../js/inventaris.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/../js/models.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/../js/helpers.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/../js/services.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/../js/utils.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/../js/users.js' | prepend: site.baseurl }}"></script>