<!DOCTYPE html>
<html lang="{{ site.language }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% include components/head.html %}
  <body>
    <div>
      <div class="close-button">
        <a class="button bottom-middle" href="/home/">
          <div class="close"></div>
        </a>
      </div>
      <div>
      {% include components/titlebar.html %}
      <main id="main" role="main">
      {{ content }}
      </main>
      {% include components/scripts.html %}
      </div>
    </div>
  </body>
</html>